---
import Layout from "@/layouts/Layout.astro";
import Container from "@components/Container.astro";
import SubAchor from "@components/SubAchor.astro";
import TextContainer from "@components/TextContainer.astro";
import Title from "@components/Title.astro";

---

<Layout
 title="About Me - Ayoub Khalfaoui Hadi"
 description="Self-taught aspiring software engineer driven by passion for computer science. Improving skills through self-study & staying up-to-date on tech/languages. Highly motivated & dedicated to success. With a strong foundation in IT and computer skills acquired at Barres i Ones, Badalona, Spain, and continuous learning through programs like Free Code Camp and Full Stack Open, I bring a dynamic skill set to the table."
>
 <Container>
  <div class="w-full overflow-hidden grid place-content-center mt-12">
   <img class=" rounded-xl"  src="/me.avif" width="300" height="300" alt="Image of Ayoub Khalfaoui Hadi">
  </div>
  <TextContainer>
   <Title text="I'm Ayoub Khalfaoui Hadi" />
   <p>Self-taught aspiring software engineer driven by passion for computer science. Improving skills through self-study & staying up-to-date on tech/languages. Highly motivated & dedicated to success.</p>
   
   <p class="my-3">With a strong foundation in IT and computer skills acquired at Barres i Ones, Badalona, Spain, and continuous learning through programs like Free Code Camp and Full Stack Open, I bring a dynamic skill set to the table.</p>
   <p class="my-3">
    Thank you for taking the time to review my portfolio. If you have any questions or would like to connect, you can reach me at <SubAchor  to="mailto:eyub.kh@gmail.com">eyub.kh@gmail.com</SubAchor>.
   </p>
   <Title text="about me" />
   <p>I am living in the United Kingdom, but I was born in Spain and have family from Morocco , so I have a diverse cultural background. I've always felt that I don't really belong to any one specific place, and that's why I love traveling and learning about other cultures.</p>
   <p class="my-3">I also enjoy staying active and do sport at the gym regularly. I find it not only keeps me physically fit, but it also helps me to clear my mind and reduce stress. In my free time, I also love being outside and spending time in nature.</p>
  </TextContainer>
 </Container>
</Layout>
