---
import Layout from '@/layouts/Layout.astro'
import Container from '@components/Container.astro'
import Title from '@components/Title.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout>
 <Container id=''>
  <Header />
   <div class="overflow-hidden flex flex-col gap-4 items-center pt-12">
    <img class=" rounded-xl"  src='/project-1.png' width="450"  alt="">
   </div>
   <main class="w-[800px] mx-auto py-12">
    <Title  text='englicus'/>
    <p class="text-wrap opacity-70">The platform is designed to help users learn and improve their English language skills. Through the use of engaging and educational games, Englicus provides a fun and effective way for individuals to practice their English language abilities. The website currently features a game called "Fill the Gaps", which challenges players to fill in the past tense form of a verb given the infinitive and participle. This game helps users improve their understanding of verb conjugation and expand their vocabulary. Whether you are a beginner learner or an advanced student.</p>
    
    <div class="flex gap-2 justify-center items-center mt-10">
      <img class="shadow-lg" src="/1.png" width="300" alt="">
      <p class="text-xl p-10">Starting with exercices dependnig on the goals of the user, Starting with exercices dependnig on the goals of the user, </p>
    </div>
    <div class="flex gap-2 justify-center items-center mt-10">
      <p class="text-xl p-10">Starting with exercices dependnig on the goals of the user, Starting with exercices dependnig on the goals of the user, </p>
      <img class="shadow-lg" src="/2.png" width="300" alt="">
    </div>
    <div class="flex gap-2 justify-center items-center mt-10">
      <img class="shadow-lg" src="/3.png" width="300" alt="">
      <p class="text-xl p-10">Starting with exercices dependnig on the goals of the user, Starting with exercices dependnig on the goals of the user, </p>
    </div>
    <div class="flex gap-2 justify-center items-center mt-10">
      <p class="text-xl p-10">Starting with exercices dependnig on the goals of the user, Starting with exercices dependnig on the goals of the user, </p>
      <img class="shadow-lg" src="/4.png" width="300" alt="">
    </div>
   </main>
  </Container>
  <Footer />
</Layout>