---
import Layout from '@/layouts/Layout.astro';
import Container from '@components/Container.astro';
import Header from '@components/Header.astro';
import ProjectCard from '@components/ProjectCard.astro';
import Hero from '@components/Hero.astro';
import Footer from '@components/Footer.astro';
import Title from '@components/Title.astro';
import Background from '@components/Background.astro';
---
<Layout>
	<Background />
	<Container id='home'>
		<Hero />	
	</Container>

	<Container id='projects' class="">
		<Title text='projects' />
		<ProjectCard title='englicus' year='2023' to='/englicus' src="/project-1.png">
			<p class="text-wrap max-w-md opacity-90">
				Englicus is an interactive platform with fun games to enhance English skills.
			</p>
		</ProjectCard>

		<ProjectCard title='lim' year='2023' to='/lim' src="/lim.png">
			<p class="text-wrap max-w-md opacity-90">
				Connecting users through shared content, personalized profiles, and interactive features.
			</p>
		</ProjectCard>
	</Container>

	<Footer />
</Layout>
