---
import Layout from '@/layouts/Layout.astro';
import Container from '@components/Container.astro';
import ProjectCard from '@components/ProjectCard.astro';
import Hero from '@components/Hero.astro';
import Title from '@components/Title.astro';
import Background from '@components/Background.astro';
---
<Layout
	title='Ayoub Khalfaoui Hadi - Frontend Developer'
	description='Self-taught aspiring software engineer driven by passion for computer science. Improving skills through self-study & staying up-to-date on tech/languages. Highly motivated & dedicated to success. With a strong foundation in IT and computer skills acquired at Barres i Ones, Badalona, Spain, and continuous learning through programs like Free Code Camp and Full Stack Open, I bring a dynamic skill set to the table.'
>
	<Background />
	<Container id='home'>
		<Hero />	
	</Container>

	<Container id='projects' class="">
		<Title text='projects' />
		<ProjectCard title='englicus' year='2023' to='/englicus' src="/englicus.avif">
			<p class="text-wrap max-w-md opacity-90">
				Englicus is an interactive platform with fun games to enhance English skills.
			</p>
		</ProjectCard>

		<ProjectCard title='lim' year='2023' to='/lim' src="/lim.avif">
			<p class="text-wrap max-w-md opacity-90">
				Connecting users through shared content, personalized profiles, and interactive features.
			</p>
		</ProjectCard>
	</Container>
</Layout>
