---
import Layout from '@/layouts/Layout.astro';
import LinkedinIcon from '@components/Linkedin.astro';
import Container from '@components/Container.astro';
import Header from '@components/Header.astro';
import Github from '@components/Github.astro';
---
<script>
	import gsap from 'gsap'
	import { ScrollTrigger } from 'gsap/all';

		gsap.registerPlugin(ScrollTrigger) 
		
		gsap.timeline({
  scrollTrigger: {
    scrub: 1,
    // pin: true,
    trigger: "#home",
    start: "top top",
    end: "+=100",
  },
}).to("#hero", {
  // y: -200,
		opacity: 0
});

		gsap.timeline({
  scrollTrigger: {
    scrub: 2,
    // pin: true,
    trigger: "#projects",
    start: "center center",
				endTrigger:'#projects',
    end: "bottom bottom",
				markers: true
			},
		}).to("#svg-two", {
			y: 40,
			rotateX: 45,
			rotateY: -45,
			rotateZ: 45,
			opacity: 1
}).to("#svg-three", {
			y: 80,
			rotateX: 45,
			rotateY: -45,
			rotateZ: 45,
			opacity: 1
});
</script>
<Layout>
	<main>
		<Container id='home'>
			<Header />
			<section id="hero" class="py-24 flex flex-col gap-3 text-center justify-center items-center">
				<div class="flex flex-col gap-4 justify-center items-center">
					<span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Available to work</span>
					<h1 class="text-4xl font-semibold">Ayoub Khalfaoui Hadi</h1>
				</div>
				<p class="max-w-[600px] text-pretty">Web Developer and Entrepanour with three years of coding experience.</p>
				<div class="flex gap-3">
					<LinkedinIcon />
					<Github />
				</div>
			</section>
		</Container>
			<section id="projects" class="relative w-[200vw] flex justify-center h-[500px]">

				<svg id="svg-one"  width="150mm" height="150mm" version="1.1" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
								<g transform="translate(-63.289 -39.651)">
														<rect x="63.289" y="39.651" width="150" height="150" ry="16.258" fill="#fff" style="paint-order:stroke fill markers"/>
														<g transform="matrix(2.4876 0 0 2.4876 84.392 107.8)" fill="#f9f9f9" stroke="#000">
																				<path d="m1.4749-18.53-4 4 4 4m10-8 4 4-4 4m-4-11-2 14" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"/>
														</g>
								</g>
				</svg>
				<svg id="svg-two"  width="150mm" height="150mm" version="1.1" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
								<g transform="translate(-63.289 -39.651)">
														<rect x="63.289" y="39.651"  width="150" height="150" ry="16.258" fill="#ff0000" style="paint-order:stroke fill markers"/>
														<g transform="matrix(2.4876 0 0 2.4876 84.392 107.8)" fill="#ff0000" stroke="#000">
																				<path d="m1.4749-18.53-4 4 4 4m10-8 4 4-4 4m-4-11-2 14" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"/>
														</g>
								</g>
				</svg>
				<svg id="svg-three" width="150mm" height="150mm" version="1.1" viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg">
								<g transform="translate(-63.289 -39.651)">
														<rect x="63.289" y="39.651"  width="150" height="150" ry="16.258" fill="#00ff00" style="paint-order:stroke fill markers"/>
														<g transform="matrix(2.4876 0 0 2.4876 84.392 107.8)" fill="#ff0000" stroke="#000">
																				<path d="m1.4749-18.53-4 4 4 4m10-8 4 4-4 4m-4-11-2 14" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.1"/>
														</g>
								</g>
				</svg>

				<section class="bg-red-200 ml-[100vw] h-[500px] w-full">
					<h1>section 1</h1>
				</section>
				<section class="bg-orange-200 h-[500px] w-[100vw]">
					<h1>section 1</h1>
				</section>

			</section>
			<div id="test" class="p-44"></div>

<!-- <section id="time" class="p-24">
	<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
		<li class="mb-10 ms-4">
						<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
						<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2022</time>
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
						<p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
						<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
		<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
	</svg></a>
		</li>
		<li class="mb-10 ms-4">
						<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
						<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2022</time>
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">Marketing UI design in Figma</h3>
						<p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
		</li>
		<li class="ms-4">
						<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
						<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
						<h3 class="text-lg font-semibold text-gray-900 dark:text-white">E-Commerce UI code in Tailwind CSS</h3>
						<p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
		</li>
	</ol>
</section> -->



	</main>
</Layout>

<style>
	svg {
		position: absolute; 
		top: 0; 
		left: 0;
		transform: rotateZ(45deg) rotateY(-30deg) rotateX(30deg)  scale(.5);
	}

	#svg-one {
		z-index: 3;
	}
	#svg-two {
		opacity: 0;
		z-index: 2;
	}
	#svg-three {
		opacity: 0;
		z-index: 1;
	}
</style>
