---
type Props = {
 color: `#${string}`;
 text: string;
 to?: string;
}
const { color, text, to = '#' } = Astro.props
---

<a href={to} target="_blank" rel="noreferrer" class="flex gap-4 items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
 <slot name="icon" />
<span class="text-md text-white">{text}</span>
</a>

<style define:vars={{ color }}>
a {
 background: var(--color);
 background: linear-gradient(45deg, var(--color) 50%, #fff 150%);
 background: -moz-linear-gradient(45deg, var(--color) 50%, #fff 150%);
 background: -webkit-linear-gradient(45deg, var(--color) 50%, #fff 150%);


 background-size: 300px;  
 background-position: 0;
 -webkit-transition: background .25s ease;  
  -moz-transition: background .25s ease;  
  -o-transition: background .25s ease;  
  transition: background .25s ease; 
}

a:hover {
 background-position: 70%;  
}
</style>