---
type Props = {
 id?: string;
 class?: string;
}

const { id, class: className } = Astro.props
---

<section id={id} class={` w-full max-w-screen-lg px-6 lg:px-0 mx-auto ${className}`}>
 <slot />
</section>