---
import GithubIcon from "@assets/GithubIcon.astro";
import LinkedInIcon from "@assets/LinkedInIcon.astro";

---

<footer class="w-full px-11 flex flex-col gap-6 py-20 bg-[#333] text-center">
 <div class="flex gap-4 justify-center">
  <GithubIcon />
  <LinkedInIcon />
 </div>
 <p class="text-white">&copy; 2023 - Ayoub Khalfaoui Hadi</p>
</footer>