---
import Anchor from "./Anchor.astro";

---

<nav class="flex gap-4 bg-white dark:bg-[#333] py-2 px-6 rounded-xl">
 <Anchor to='/' class='capitalize'>home</Anchor>
 <Anchor to='/#projects' class='capitalize'>projects</Anchor>
 <Anchor to='/about' class='capitalize'>about me</Anchor>
 <Anchor to='https://docs.google.com/document/d/1KO8NvYvFAEpxQ_4v23xsVdcv3B1bfly-67-O0opw_VI' external={true} class='capitalize'>resume</Anchor>
</nav>