---
// Supports weights 100-900
import '@fontsource-variable/onest';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Developer with 3 years of coding experince as a full stack." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ayoub Khalfaoui Hadi - Web Developer and Entrepreneur</title>
		<ViewTransitions />
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen dark:bg-black light:bg-white bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<slot />
	</body>
</html>

<style is:global>
		:root {
			color-scheme: light;
	}
	html,
	body,
	* {
		font-family: 'Onest Variable',system-ui, sans-serif;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	
	html {
		width: 100vw;
		overflow-x: hidden;
		scroll-behavior: smooth;
	}
</style>
